@use 'sass:map';

@function rgba-to-rgb($rgba, $background: #fff) {
  @return mix(rgb(red($rgba), green($rgba), blue($rgba)), $background, alpha($rgba) * 100%);
}

@function stripUnit($value) {
  @return $value / ($value * 0 + 1);
}

@function rem($pxValue) {
  @return $pxValue;
}

@function createOrderedBreakpoints() {
  $breakpoint-order: xxxs, xxs, xs, sm, md, lg, xl, xxl, xxxl;

  $merged-breakpoints: map.merge($grid-breakpoints-custom, $grid-breakpoints-extra);
  $ordered-breakpoints: ();

  @each $key in $breakpoint-order {
    @if map-has-key($merged-breakpoints, $key) {
      $ordered-breakpoints: map.set($ordered-breakpoints, $key, map.get($merged-breakpoints, $key));
    }
  }

  @return $ordered-breakpoints;
}

@mixin transitionDefault($property) {
  transition-duration: $transition-duration-default;
  transition-timing-function: $transition-timing-fn-default;
  transition-property: #{$property};
}
