@use 'sass:map';

@function rgba-to-rgb($rgba, $background: #fff) {
  @return mix(rgb(red($rgba), green($rgba), blue($rgba)), $background, alpha($rgba) * 100%);
}

@function stripUnit($value) {
  @return $value / ($value * 0 + 1);
}

@function rem($pxValue) {
  @return $pxValue;
  //@return #{stripUnit($pxValue) / stripUnit(var(--text-body, 14px))}rem;
}

@function createOrderedBreakpoints() {
  $breakpoint-order: xxxs, xxs, xs, sm, md, lg, xl, xxl, xxxl;

  $merged-breakpoints: map.merge($grid-breakpoints-custom, $grid-breakpoints-extra);
  $ordered-breakpoints: ();

  @each $key in $breakpoint-order {
    @if map-has-key($merged-breakpoints, $key) {
      $ordered-breakpoints: map.set($ordered-breakpoints, $key, map.get($merged-breakpoints, $key));
    }
  }

  @return $ordered-breakpoints;
}

@mixin headerHeightGroup($height) {
  $rem-h: rem($height);
  $rem-h-plus: rem($height+10px);
  $rem-h-plus2: rem($height+60px);
  .demo-header-shadow, .demo-header--outer .demo-navbar, .demo-mobile-footer, .demo-mobile-screen-head, .demo-alerts--separated {
    height: $rem-h;
  }
  .demo-spa__wrapper {
    padding-top: $rem-h;
  }
  .demo-mobile-footer {
    max-height: $rem-h;
  }
  .demo-header-mobile-menu-item--inner {
    min-height: $rem-h;
    max-height: $rem-h;
  }
  .demo-navbar__menu-block button {
    min-height: $rem-h;
  }
  .dashboard-fast-filters-nav--outer.is-fixed, .lock-screen-progress-line, .dashboard-fast-filters-nav--box-shadow-layer, .error-page--outer {
    top: $rem-h;
  }
  .b-navigation-drawer {
    bottoM: $rem-h;
  }
  .use-subheader-dashboard-nav {
    .demo-alerts--outer {
      .demo-alerts--inner {
        .demo-alerts--separated {
          transform: translateY($rem-h);
        }
      }
    }
  }
  @media(max-width: 1000px) {
    .full-screen-preloader--outer {
      bottom: $rem-h-plus !important;
    }
    .mob-menu--bottom-space {
      margin-bottom: $rem-h-plus !important;
    }
    .mob-menu--bottom-space-plus {
      margin-bottom: $rem-h-plus2 !important;
    }
    .demo-spa__wrapper {
      padding-bottom: $rem-h;
    }
    .b-screen-footer:not(.chm-module-only) {
      margin-bottom: $rem-h;
    }
  }
}

@mixin headerPaddingGroup($paddingSide) {
  $remPaddingSide: rem($paddingSide);
  .container.container--fluid:not(.pa-0) {
    padding-left: $remPaddingSide !important;
    padding-right: $remPaddingSide !important;
    padding-top: map-get($gaps, outer);
    padding-bottom: map-get($gaps, outer);

  }
  .demo-mobile-footer--outer {
    z-index: 92;

    .container.container--fluid {
      padding: 0 $remPaddingSide !important;
    }
  }
  .header-padding-group {
    padding-left: $remPaddingSide !important;
    padding-right: $remPaddingSide !important;
  }
}

@mixin lockOverflow() {
  overflow: hidden !important;
  body {
    overflow: hidden !important;
    height: 100% !important;
  }
  .gantt {
    overflow: hidden !important;
  }
  .demo-communication-navbar {
    overflow: hidden !important;
  }
  .demo-communication__navbar {
    overflow: hidden !important;
  }
}

@mixin transitionDefault($property) {
  transition-duration: $transition-duration-default;
  transition-timing-function: $transition-timing-fn-default;
  transition-property: #{$property};
}
