* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#root {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: stretch;
}

button {
    background-color: transparent;
    border: 0
}

@media print {
    [data-app-header] {
        display: none !important;
    }
}
